
@import "compass";
@import "compass/css3";
@import "compass/utilities";


html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
    z-index: 0;
    font-family: 'Roboto Slab', serif;
}
.home {
  background-color: #000000;
  background-image: url(".././images/home-body-bgd.jpg");
  background-repeat: no-repeat;
  background-position: bottom;

}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
