.form-wrap {
  background-color: $light-grey;
  padding: 2em;
  // width: 80%;
  width: 100%;
  margin-top: -40px;
  .headline-sml {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    color: $light-green;
    margin-bottom: 0;
    @media(max-width:1024px) {
      font-size: 1.563em;
    }
    @media(max-width:768px) {
      font-size: 2.25em;
    }
    @media(max-width:500px) {
      font-size: 1.5em;
    }
    @media(max-width:375px) {
      font-size: 1.25em;
    }
    @media(max-width:360px) {
      font-size: 1em;
    }
    @media(max-width:300px) {
      font-size: 0.75em;
    }
  }
  .headline-lrg {
    font-size: 2.938em;
    text-align: center;
    text-transform: uppercase;
    color: $light-green;
    line-height: 1;
    margin-top: 0.188em;
    margin-bottom: 0.5em;
    @media(max-width:1024px) {
      font-size: 2.35em;
    }
    @media(max-width:768px) {
      font-size: 2.5em;
    }
    @media(max-width:500px) {
      font-size: 2.35em;
      margin-bottom: 0.125em;
    }
    @media(max-width:375px) {
      font-size: 2em;
    }
    @media(max-width:360px) {
      font-size: 1.5em;
    }
    @media(max-width:300px) {
      font-size: 1.125em;
      margin-bottom: -0.75em;
    }
  }
  .form-label {
    font-size: 1.438em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: $grey;
    margin-bottom: 0.5em;
    @media(max-width:500px) {
      font-size: 1.25em;
    }
    @media(max-width:375px) {
      font-size: 1em;
    }
    @media(max-width:300px) {
      font-size: 0.75em;
      margin-bottom: 0;
    }
  }
  label{
    margin-bottom: 2em;
    @media(max-width:500px) {
      margin-bottom: 1.5em;
    }
    @media(max-width:300px) {
      margin-bottom: 0.75em;
    }
  }
  textarea, input {
    outline: 0;
    width: 100%;
  }
  input {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.65em;
    font-size: 1.5em;
    color: $dark-grey;
    border: 1px solid $light-green !important;
    @media(max-width:500px) {
      padding: 0.5em;
      font-size: 1.25em;
    }
    @media(max-width:375px) {
      font-size: 1em;
    }
    &:focus {
      border-color: darken($light-green, 20%)!important;
    }
  }
  ::-webkit-input-placeholder {
    color: lighten($grey, 20%)!important;
    font-style: italic !important;
  }
  ::-moz-placeholder {
    color: lighten($grey, 20%)!important;
    font-style: italic !important;
  }
  :-ms-input-placeholder {
    color: lighten($grey, 20%);
    font-style: italic !important;
  }
  :-moz-placeholder {
    color: lighten($grey, 20%);
    font-style: italic !important;
  }
  .btn-lg {
    padding: 1em 3em;
    width: 100%;
    background-color: $green;
    color: $white;
    font-size: 1.5em;
    font-weight: $bold;
    letter-spacing: 2px;
    &:hover {
      background-color: $light-green;
    }
    @media(max-width:500px) {
      font-size: 1em;
      padding: 1em 2em;
    }
    @media(max-width:375px) {
      font-size: 1em;
      padding: 1em;
    }
  }
  .terms {
    color: $grey;
    text-align: center;
    a {
      text-decoration: none !important;
      color: $green;
    }
    @media(max-width:300px) {
      font-size: 0.625em;
      line-height: normal;
    }
  }
  .cta-text {
    color: $grey;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    span {
      color: $light-green;
    }
    @media(max-width:300px) {
      font-size: 0.625em;
      line-height: normal;
    }
  }
  @media(max-width:1440px) {
    width: 100%;
  }
  @media(max-width:768px) {
    margin-top: 1.5em;
  }
  @media(max-width:500px) {
    margin-top: 0;
    padding: 1em;
  }
  @media(max-width:300px) {
    padding: 1em 0.75em;
  }
}
