.form-wrap {
  background-color: $light-grey;
  padding: 2em;
  width: 80%;
  margin-top: -40px;
  .headline-sml {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    color: $light-green;
    margin-bottom: 0;
    @media(max-width:1024px) {
      font-size: 1.563em;
    }
  }
  .headline-lrg {
    font-size: 2.938em;
    text-align: center;
    text-transform: uppercase;
    color: $light-green;
    line-height: 0.875;
    margin-bottom: 0.5em;
    @media(max-width:1024px) {
      font-size: 2.35em;
    }
  }
  .form-label {
    font-size: 1.438em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: $grey;
    margin-bottom: 0.5em;
  }
  label{
    margin-bottom: 2em;
  }
  textarea, input {
    outline: 0;
    width: 100%;
  }
  input {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.65em;
    font-size: 1.5em;

    color: $dark-grey;
  }
  ::-webkit-input-placeholder {
    color: lighten($grey, 20%);
    font-style: italic;
  }
  ::-moz-placeholder {
    color: lighten($grey, 20%);
    font-style: italic;
  }
  :-ms-input-placeholder {
    color: lighten($grey, 20%);
    font-style: italic;
  }
  :-moz-placeholder {
    color: lighten($grey, 20%);
    font-style: italic;
  }
  .btn-lg {
    padding: 1em 3em;
    width: 100%;
    background-color: $green;
    color: $white;
    font-size: 1.375em;
    font-weight: $bold;
    letter-spacing: 2px;
    &:hover {
      background-color: $light-green;
    }
  }
  .terms {
    color: $grey;
    text-align: center;
    a {
      text-decoration: none !important;
      color: $green;
    }
  }
  @media(max-width:1440px) {
    width: 100%;
  }
}
