.main-header {
  background: $white;
  background-color: $white;
  padding-top: 0;
  padding-bottom: 0;
  .logo {
    img {
      max-width: 90%;
      margin-top: -20px;
      @media (min-width: 2560px) {
        max-width: 66%;
      }
      @media (max-width: 1440px) {
        max-width: 90%;
      }
      @media (max-width: 1024px) {
        width: 100%;
        // padding-top: 18px;
      }
      @media(max-width:55em) {
         max-width: 100%;
       }
      @media (max-width: 425px) {
        max-width: 50%;
      }
    }
  }
  .col {
    @media (max-width: 425em) {
      // width: 50%;
    }
  }
  .date-wrap {
    text-align: right;
    font-size: 12px;
    line-height: 1.5;
    color: $light-green;
    letter-spacing: 1px;
    padding-top: 1.5em;
    @media(min-width:2000px) {
      font-size: 14px;
     }
    @media (max-width: 1024px) {
      font-size: 10px;
    }
    @media(max-width:55em) {
      font-size: 9px;

    }
    @media(max-width:425px) {
      margin-bottom: 15px;
    }
    @media(max-width:375px) {
      // font-size: 10px;
      margin-top: 0;
    }

  }
  .js .nav-collapse-0.opened {
    max-height: 230px !important;
  }
  @media(max-width:425px) {
    height: auto;
  }
}

@media screen and (min-width: 40em) {
  .js .nav-collapse.opened {
    max-height: none !important;
  }
}
