.main-nav-wrap {
  .nav-collapse ul{
    // text-align: right;
    // li {
    //   display: inline;
    //   padding-left: 15px;
    // }
  }
  #main-menu {
    text-align: right;
    padding-top: 2.35em;
    li {
      display: inline;
      padding-left: 21px;
      &:first-of-type {
        padding-left: 0;
      }
      @media(max-width:55em) {
         padding-left: 10px;
       }
    }
    a {
      text-decoration: none;
      font-size: 1.313em;
      letter-spacing: 1px;
      color: $green;
      &:hover {
        color: $light-green;
      }

      @media(max-width:1440px) {
         font-size: 1.125em;
       }
       @media(max-width:1024px) {
          font-size: 0.813em;
        }
      @media(max-width:55em) {
         font-size: 0.625em;
       }
    }
    .active {
      color: $light-green;
    }

     @media(max-width:1440px) {
        padding-top: 1em;
      }
      @media(max-width:1024px) {
         padding-top: 1em;
       }
     @media(max-width:55em) {
        padding-top: 0.5em;
      }
  }

}
