.home {
background-color: #000000;
background-image: url(".././images/home-body-bgd.jpg");
background-repeat: no-repeat;
background-position: center;
// background-position-x: right;
background-position-y: bottom !important;
  @media(max-width:1440px) {
    background-position: center;
    background-size: 71%;
    background-position-y: bottom !important;
    // background-position-x: right;
  }
}
.dark {
  background-color: #000000;
}

.preview-content {
  h2 {
    line-height: 1.25;
    color: $green;
    text-align: right;
    font-size: 1.75em;
  }
  .photo-container {
    .caption {
      font-size: 0.75em;
      padding-left: 10px;
    }
  }
  img {
    width: 96%;
    margin-top: 5px;
    margin-right: 2%;
    margin-left: 2%;

  }
  p {
    font-size: 1.18em;
    line-height: 1.35;
  }
  .row {
    padding-bottom: 2.5em;
  }
  .intro {
    font-weight: $bold;
  }
  @media(max-width:360px) {
    h2 {
      font-size: 1.5em;
      margin-bottom: 0;
    }
    .col {
      margin-bottom: 0.75em;
    }
    .row {
      .c3 {
        margin-bottom: 1em;
      }
    }
  }
  @media(max-width:768px) {
    h2 {
      margin-bottom: 0;
    }

    .row {
      .c3, .c4, .c5 {
        width: 100%;
      }
    }
    h2 {
      text-align: left;
    }

  }
  @media(max-width:1024px) {
    img {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
    .photo-container {
      .caption {
        padding-left: 0;
      }
    }
  }
}

.general-content, .hot-money-content {
  width: 60%;
  margin: 0 auto;
  overflow: hidden !important;
  padding: 0 25px;
  // h2 {
  //   line-height: 1.25;
  //   color: $green;
  //   text-align: right;
  //   font-size: 1.75em;
  // }
  .photo-container {
    .caption {
      font-size: 0.75em;
      padding-left: 10px;
    }
  }
  img {
    width: 100%;
    margin: 0 auto;
  }
  p {
    font-size: 1.18em;
    line-height: 1.35;
    font-family: 'Open Sans', sans-serif;
  }
  .row {
    padding-bottom: 2.5em;
    // padding-left: 0;
  }
  .intro {
    font-weight: $bold;
  }
  @media(max-width:360px) {
    h2 {
      font-size: 1.5em;
      margin-bottom: 0;
    }
    .col {
      margin-bottom: 0.75em;
    }
    .row {
      .c3 {
        margin-bottom: 1em;
      }
    }
  }
  @media(max-width:768px) {
    h2 {
      margin-bottom: 0;
    }

    .row {
      .c3, .c4, .c5 {
        width: 100%;
      }
    }
    h2 {
      text-align: left;
    }

  }
  @media(max-width:1024px) {
    img {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
    .photo-container {
      .caption {
        padding-left: 0;
      }
    }
  }
  @media(max-width:768px) {
    width: 100%;
    margin: 0 auto;
  }
  // @media(max-width:500px) {
  //   width: 100%;
  //   margin: 0 auto;
  // }
  // @media(max-width:360px) {
  //   width: 100%;
  //   margin: 0 auto;
  // }
}
.hot-money-content {
  width: 76%;
  .row {
    padding-bottom: 0;
  }
  @media(max-width:768px) {
    width: 100%;
    margin: 0 auto;
  }
}
.bookmaker-content {

  img {
    width: 100%;
  }
  p {
    font-size: 1.18em;
    line-height: 1.35;
  }
  .row {
    margin-bottom: 2em;
  }
  .intro {
    font-weight: $bold;
  }

  .logo-container {
    img {
      width: 70%;
      margin: 0 15%;
    }
  }

  .push-right {
    display: inline-block;
  }

  @media(max-width:1024px) {
    .push-right {
      display: none;
    }
    .photo-container {
      width: 35%;
    }
    .summary {
      width: 65%;
    }
  }

  @media(max-width:768px) {
    .logo-container {
      width: 33%;
    }
  }
  @media(max-width:500px) {
    .logo-container {
      width: 100%;
      img {
        width: 60%;
        margin: 0 20%;
      }
    }
  .photo-container, .summary {
    width: 100%;
    }
  }

}
