
/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-slab-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('fonts/roboto-slab-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-slab-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-slab-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-slab-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-slab-v6-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-slab-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
       url('fonts/roboto-slab-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-slab-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-slab-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-slab-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-slab-v6-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

// Font weights
$regular: 400;
$bold: 700;
// Base Font
$base-font-family: 'Roboto Slab', serif;

body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-family;
  font-family: 'Roboto Slab', serif;
}
h1 {
  color: $light-green;
}
.headline-divider {
  border-color: $light-green;
  border-style: solid;
  border-width: 1px;
  margin-top: 1em !important;
  margin-bottom: 1.5em !important;
}
h2, h3 {
  // color: $green;
}
p {
  font-family: 'Open Sans', sans-serif;
}
